<h1>Here are all of the super exciting events</h1>

<%= link_to 'Show all events', events_path %>
<%= link_to "New Event", new_event_path %>

<% @events.each do |event| %>
  <%= render 'single_event', event: event %>
<% end %>
